.container-esperados {
  width: 65%;
  display: inline-flex;
  flex-direction: column;
}

.estreia {
  margin-top: 6%;
  width: 100%;
}

.cartaz {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.esperados-lista {
  display: flex;
  width: 100%;
}

.mais-esperados {
  width: 34%;
  display: inline-flex;
  flex-direction: column;
}

.esperados {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.esperados p {
  text-shadow: none;
  text-align: start;
  font-size: 0.75rem;
  font-weight: 600;
  color: gray;
}

.esperados-lista ul {
  margin-left: -30px;
  position: relative;
  text-align: start;
  width: 100vw;
}

.esperados-lista li {
  width: 330px;
  height: 7vh;
  align-content: center;
  font-weight: bold;
  border-top: 0.5px solid rgb(231, 227, 227);
}

.esperados-lista li a {
  color: #000;
}

.btn-esperados {
  width: 100%;
}

.imgEsperados img {
  width: 35%;
  border-radius: 10px;
}

.imgEsperados p {
  text-align: center;
  font-size: 0.9rem;
  color: #000;
  font-weight: bold;
}

.item-titulo {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.item-titulo h3 {
  margin: 0 0 2px 0;
  height: 2rem;
  padding-left: 5px;
  font-family: "montserrat";
  font-size: 1.7rem;
  font-weight: 800;
}

.bar-left {
  border-radius: 20px;
  height: 1.4rem;
  border: 3px solid gold;
}

.card-pesquisa {
  display: flex;
  width: 100%;
}

.card-pesquisa img {
  width: 100%;
  border-radius: 20px;
  margin: 2%;
}

.ultimas-criticas {
  margin-top: 5%;  
}

.card-criticas {
  display: flex;
  justify-content: space-evenly;
}

.card-criticas img {
  border-radius: 10px;
  cursor: pointer;
}

.img-criticas:hover .card-title {
  color: rgb(64, 64, 229);
}

.card-title {
  text-shadow: none;
  font-weight: bold;
  margin: 0;
  cursor: pointer;
}

.card-title:hover {
  color: rgb(64, 64, 229);
}

.direcao {
  color: gray;
  font-size: 0.75rem;
  text-shadow: none;
  font-weight: 500;
}

span {
  font-size: 26px;
  color: gold;
}